@media(max-width:320px) {

  button {
    border-color: black;
    height: 90px;
    width: 90px;
    border-radius: 6px;
    border-width: 4px;
  }

  .wBack {
    background-color: red;
  }

  .start {
    height: 40px;
    width: 100px;
    margin-bottom: 50px;
    background-color: rgba(45, 227, 45, 0.803);
    font-weight: bolder;
  }

  .red {
    background-color: orangered;
  }

  .topic {
    display: none;
  }

  .mobileTopic {
    font-size: 2rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: crimson;
    letter-spacing: 5px;
    text-align: center;
  }

  .green {
    margin-left: 8px;
    background-color: rgb(13, 204, 13);
  }

  .blue {
    margin-top: 8px;
    background-color: blue;
  }

  .yellow {
    margin-left: 8px;
    margin-top: 8px;
    background-color: yellow;
  }

  body {
    background-color: #e3f2fd;
  }

  .pressed {
    transform: scale(0.9);
    background-color: aliceblue;
    transition: all 0.1s ease-in-out;
  }

  .ani {
    transform: scale(1.1);
    background-color: aliceblue;
    transition: all 0.1s ease-in-out;
  }
  .levels{
    display: none;
    font-size: 3.4rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: crimson;
    letter-spacing: 5px;
    text-align: center;
  }
  .endMessage{
    font-size: 2.2rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: crimson;
    letter-spacing: 5px;
    text-align: center;
    display: none;
  }
   .score{
    color:crimson;
    font-size: 3rem;
    text-align: center;
    display: none;
    font-family: "Jersey 10", sans-serif;
    font-style: normal;
    font-weight: 400;
  }
}


@media (min-width: 321px) and (max-width: 480px) {
  .mobileTopic {
    font-size: 2rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: crimson;
    letter-spacing: 5px;
    text-align: center;
  }

  .wBack {
    background-color: red;
  }

  .start {
    height: 60px;
    width: 120px;
    margin-bottom: 50px;
    background-color: rgba(45, 227, 45, 0.803);
    font-weight: bolder;
    font-size: 1.2rem;
  }

  button {
    border-color: black;
    height: 140px;
    width: 140px;
    border-radius: 9px;
    border-width: 6px;
  }

  .topic {
    display: none;
  }

  .red {
    background-color: orangered;
  }

  .green {
    margin-left: 12px;
    background-color: rgb(13, 204, 13);
  }

  .blue {
    margin-top: 12px;
    background-color: blue;
  }

  .yellow {
    margin-left: 12px;
    margin-top: 12px;
    background-color: yellow;
  }

  body {
    background-color: #e3f2fd;
  }

  .pressed {
    transform: scale(1.1);
    background-color: aliceblue;
    transition: all 0.1s ease-in-out;
  }

  .ani {
    transform: scale(1.1);
    background-color: aliceblue;
    transition: all 0.1s ease-in-out;
  }
  .levels{
    display: none;
    font-size: 4rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: crimson;
    letter-spacing: 5px;
    text-align: center;
  }
  .endMessage{
    font-size: 2.8rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: crimson;
    letter-spacing: 5px;
    text-align: center;
    display: none;
  }
   .score{
    color:crimson;
    font-size: 4rem;
    text-align: center;
    display: none;
    font-family: "Jersey 10", sans-serif;
    font-style: normal;
    font-weight: 400;
  }
}

@media(min-width:481px) and (max-width:768px) {
  .mobileTopic {
    font-size: 3rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: crimson;
    letter-spacing: 5px;
    text-align: center;
  }

  .wBack {
    background-color: red;
  }

  .start {
    height: 80px;
    width: 140px;
    margin-bottom: 60px;
    background-color: rgba(45, 227, 45, 0.803);
    font-weight: bolder;
    font-size: 1.4rem;
  }

  .topic {
    display: none;
  }

  button {
    border-color: black;
    height: 160px;
    width: 160px;
    border-radius: 15px;
    border-width: 9px;
  }

  body {
    background-color: #e3f2fd;
  }

  .red {
    background-color: orangered;
  }

  .green {
    margin-left: 15px;
    background-color: rgb(13, 204, 13);
  }

  .blue {

    margin-top: 15px;
    background-color: blue;
  }

  .yellow {
    margin-left: 15px;
    margin-top: 15px;
    background-color: yellow;
  }

  .pressed {
    transform: scale(1.1);
    background-color: aliceblue;
    transition: all 0.1s ease-in-out;
  }

  .ani {
    transform: scale(1.1);
    background-color: aliceblue;
    transition: all 0.1s ease-in-out;
  }
  .levels{
    display: none;
    font-size: 5.5rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: crimson;
    letter-spacing: 5px;
    text-align: center;
  }
  .endMessage{
    font-size: 3.5rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: crimson;
    letter-spacing: 5px;
    text-align: center;
    display: none;
  }
   .score{
    color:crimson;
    font-size: 4.9rem;
    text-align: center;
    display: none;
    font-family: "Jersey 10", sans-serif;
    font-style: normal;
    font-weight: 400;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .mobileTopic {
    font-size: 4rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: crimson;
    letter-spacing: 5px;
    text-align: center;
  }

  .wBack {
    background-color: red;
  }

  .start {
    height: 90px;
    width: 160px;
    margin-bottom: 70px;
    background-color: rgba(45, 227, 45, 0.803);
    font-weight: bolder;
    font-size: 1.5rem;
  }

  .topic {
    display: none;
  }

  button {
    border-color: black;
    height: 170px;
    width: 170px;
    border-radius: 15px;
    border-width: 9px;
  }

  .red {
    background-color: orangered;
  }

  .green {
    margin-left: 17px;
    background-color: rgb(13, 204, 13);
  }

  .blue {
    margin-top: 17px;
    background-color: blue;
  }

  .yellow {
    margin-left: 17px;
    margin-top: 17px;
    background-color: yellow;
  }

  body {
    background-color: #e3f2fd;
  }

  .pressed {
    transform: scale(1.1);
    background-color: aliceblue;
    transition: all 0.1s ease-in-out;
  }

  .ani {
    transform: scale(1.1);
    background-color: aliceblue;
    transition: all 0.1s ease-in-out;
  }
    .levels{
    display: none;
    font-size: 6rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: crimson;
    letter-spacing: 5px;
    text-align: center;
  }
  .endMessage{
    font-size: 5rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: crimson;
    letter-spacing: 5px;
    text-align: center;
    display: none;
  }
    .score{
    color:crimson;
    font-size: 5.8rem;
    text-align: center;
    display: none;
    font-family: "Jersey 10", sans-serif;
    font-style: normal;
    font-weight: 400;
  }
}

@media(min-width: 1025px) and (max-width: 1920px) {
  body {
    background-color: rgba(95, 158, 160, 0.766);
  }

  .mobileTopic {
    display: none;
  }

  .wBack {
    background-color: red;
  }

  h1 {
    font-size: 6rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: crimson;
    letter-spacing: 5px;
    text-align: center;
  }

  .start {
    display: none;
  }

  button {
    border-color: black;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    border-width: 9px;
  }

  .red {
    background-color: orangered;
  }

  .green {
    margin-left: 20px;
    background-color: rgb(13, 204, 13);
  }

  .blue {
    margin-top: 20px;
    background-color: blue;
  }

  .yellow {
    margin-left: 20px;
    margin-top: 20px;
    background-color: yellow;
  }

  .pressed {
    transform: scale(1.1);
    background-color: aliceblue;
    transition: all 0.1s ease-in-out;
  }

  .ani {
    transform: scale(1.1);
    background-color: aliceblue;
    transition: all 0.1s ease-in-out;
  }
  .levels{
    display: none;
    font-size: 7.5rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: crimson;
    letter-spacing: 5px;
    text-align: center;
  }
  .endMessage{
    font-size: 6rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: crimson;
    letter-spacing: 5px;
    text-align: center;
    display: none;
  }
  .score{
    color:crimson;
    font-size: 7rem;
    text-align: center;
    display: none;
      font-family: "Jersey 10", sans-serif;
    font-style: normal;
    font-weight: 400;
  }
  
}